#menu-dashboard ul,
#menu-appearance .hide-if-no-customize,
#menu-appearance .wp-submenu li:last-child,
#menu-plugins,
#menu-settings,
/*
#menu-pages,
#menu-tools,
*/
.show-administrator-only { display: none; }
