.detail-muangay-padding {
	margin: 0 auto;
	max-width: 750px;
}
.details-mua-ngay,
.details-tu-van {
	height: 70px;
	display: block;
	max-width: 320px;
	margin: 0 auto;
}
.details-mua-ngay {
	border: 0 none;
	cursor: pointer;
	width: 100%;
}
.detail-muangay-bottom-padding .details-mua-ngay { margin-right: 10px; }
.detail-muangay-bottom-padding .details-tu-van { margin-left: 10px; }
.style-for-mobile .details-mua-ngay,
.style-for-mobile .details-tu-van { margin: 0 auto; }
.details-tu-van span {
	display: block;
	padding-top: 14px;
}
/* */
.detail-muangay-topleft,
.detail-muangay-topcenter {
	float: left;
	width: 50%;
}
.detail-muangay-topleft .details-mua-ngay,
.detail-muangay-topcenter .details-mua-ngay {
	height: 40px;
	font-size: 16px;
	text-transform: none;
	border-radius: 3px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.detail-muangay-topleft { text-align: left; }
.detail-muangay-topleft .details-mua-ngay {
	width: 93%;
	margin: 0;
}
.detail-muangay-topright {
	float: left;
	width: 100%;
}
.detail-muangay-topright .details-tu-van {
	max-width: none;
	background: none;
	color: #000 !important;
	border: 1px #999 solid;
	padding: 10px 0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
	height: auto;
}
.detail-muangay-topright .details-tu-van span { padding-top: 2px; }
