/* Chỉnh CSS mặc định cho phần Quick cart chỉ còn mỗi số điện thoại thôi -> đặt hàng cho tiện */
.clone-show-quick-cart .eb-global-frm-cart { position: relative; }
.clone-show-quick-cart .eb-quickcart-node { display: none; }
.clone-show-quick-cart .eb-quickcart-tel {
	display: block;
	background: #f59231;
	padding: 10px 5px 10px 0;
	border-radius: 4px 4px 0 0;
	border: 2px #f59231 solid;
	color: #fff;
	position: relative;
	margin: 0;
}
.clone-show-quick-cart .eb-quickcart-tel:before {
	display: inline-block;
	content: "";
	background: url(../../images-global/icon-lighthing.png) left no-repeat;
	background-size: auto 99%;
	width: 42px;
	height: 36px;
	position: absolute;
	left: 5px;
}
.clone-show-quick-cart .eb-quickcart-left {
	text-transform: uppercase;
	line-height: 37px;
	font-size: 16px;
}
.clone-show-quick-cart .eb-quickcart-tel .eb-quickcart-left { text-align: center; }
.clone-show-quick-cart .eb-quickcart-left span { text-transform: none; }
.clone-show-quick-cart .eb-quickcart-left span.redcolor { display: none; }
/*
.clone-show-quick-cart .eb-quickcart-right {
	float: none;
	width: 80%;
}
*/
.clone-show-quick-cart .eb-quickcart-table input[type=text] {
	padding: 0 3px;
	height: 35px;
	width: 92%;
	padding-left: 3%;
}
.clone-show-quick-cart .eb-quickcart-submit {
	background: #f59231;
	border-radius: 0 0 4px 4px;
	padding-bottom: 6px;
}
.clone-show-quick-cart #sb_submit_cart {
	width: 99%;
	padding: 0;
	height: 42px;
	max-width: 250px;
	/*
	background: #d81c22;
	*/
	font-size: 16px;
}
.clone-show-quick-cart button.btn-addto-cart,
.clone-show-quick-cart #sb_submit_cart { border-radius: 30px; }
/* */
.style-for-mobile .clone-show-quick-cart .eb-quickcart-tel:before { display: none; }
.style-for-mobile .clone-show-quick-cart .eb-quickcart-tel { padding-left: 5px; }
/*
.style-for-mobile .clone-show-quick-cart .eb-quickcart-left { }
*/
.style-for-mobile .clone-show-quick-cart .eb-quickcart-left,
.style-for-mobile .clone-show-quick-cart .eb-quickcart-right {
	float: none;
	width: auto;
	text-align: center;
}
/*
.style-for-mobile .clone-show-quick-cart #sb_submit_cart {
	top: auto;
	bottom: 8px;
	width: 18%;
}
*/
