#aabbcc .top1-menu { }
#aabbcc .top1-menu ul { }
#aabbcc .top1-menu li { float: left; }
#aabbcc .top1-menu a { display: block; }
#aabbcc .top1-menu a:hover {
	background: rgba(0, 0, 0, .2);
	text-decoration: underline;
}
#aabbcc .top1-menu .sub-menu {
	display: none;
	position: absolute;
	min-width: 220px;
	z-index: 9;
}
#aabbcc .top1-menu li:hover .sub-menu { display: block; }
.style-for-mobile #aabbcc .top1-menu li,
#aabbcc .top1-menu .sub-menu li {
	float: none;
	width: auto;
}
#aabbcc .top1-menu .sub-menu a { }
#aabbcc .top1-menu .sub-menu .sub-menu { display: none !important; }
#aabbcc .top1-menu .sub-menu .sub-menu li { }
#aabbcc .top1-menu .sub-menu .sub-menu a { }
#aabbcc .top1-menu .sub-menu .sub-menu .sub-menu { }
#aabbcc .top1-menu .sub-menu .sub-menu .sub-menu li { }
#aabbcc .top1-menu .sub-menu .sub-menu .sub-menu a { }
#aabbcc .top1-menu .sub-menu .sub-menu .sub-menu .sub-menu { }
