/* mobile menu */
.style-for-mobile .menu-for-mobile {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.menu-mobile-padding,
#nav_mobile_top a,
/*
.menu-mobile-nav,
.menu-mobile-search,
*/
.menu-mobile-top,
.height-for-mobile { background: rgba( 0, 0, 0, .9 ); }
/*
.style-for-mobile .height-for-mobile,
*/
.style-for-mobile .menu-mobile-top {
	padding: 2px 5px;
	line-height: 36px;
}
.style-for-mobile .height-for-mobile { display: none; }
/* #nav_mobile_top a, */
.style-for-mobile .menu-mobile-top,
.style-for-mobile .menu-mobile-top a {
	font-size: 16px;
	color: #fff;
}
.style-for-mobile .menu-mobile-top a { display: block; }
.style-for-mobile .menu-mobile-nav {
	line-height: 35px;
	display: none;
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
	overflow: auto;
}
.style-for-mobile .menu-mobile-nav,
.style-for-mobile .menu-mobile-nav a { color: #fff; }
/* */
#nav_mobile_top { border-bottom: 20px #333 solid; }
#nav_mobile_top ul { }
#nav_mobile_top li { border-bottom: 1px #515151 solid; }
#nav_mobile_top a {
	display: block;
	padding: 0 20px;
	font-size: 14px;
	line-height: 40px;
}
#nav_mobile_top .sub-menu { }
#nav_mobile_top .sub-menu li {
	border: 0 none;
	line-height: 30px;
}
#nav_mobile_top .sub-menu a {
	background: rgba(77, 77, 64, .9);
	display: block;
	color: #ccc;
	padding: 0 0 0 30px;
	font-size: 12px;
	border-bottom: 1px #4d4d40 solid;
}
#nav_mobile_top .sub-menu .sub-menu { background: rgba(77, 77, 64, .7); }
#nav_mobile_top .sub-menu .sub-menu li { }
#nav_mobile_top .sub-menu .sub-menu a {
	border-bottom-color: #666;
	text-transform: none;
	padding-left: 45px;
}
#nav_mobile_top .sub-menu .sub-menu .sub-menu { display: none; }
/* */
.style-for-mobile .mobile_member_func a { margin: 0 10px; }
.style-for-mobile .menu-mobile-search { position: relative; }
.style-for-mobile .menu-mobile-search i {
	position: absolute;
	right: 6px;
	color: #000;
	font-size: inherit;
	cursor: pointer;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 20px;
}
.style-for-mobile .menu-mobile-search input[type=text] {
	width: 98%;
	padding: 8px 1px;
	border: 1px #999 solid;
	border-radius: 2px;
	background: #fff;
	padding-left: 2%;
}
.style-for-mobile .menu-mobile-padding { padding-bottom: 90px; }
/* */
.web-mobile-logo { background-repeat: no-repeat; }
