.cat-sub-widget {}
.cat-sub-head {
	line-height: 20px;
	padding: 12px 0;
}
.cat-sub-title {}
.cat-sub-title * {
	display: block;
	font-size: 18px;
	font-weight: 600;
	color: #303030;
	text-transform: uppercase;
	font-weight: normal;
}
.cat-sub-readall {
	color: #303030;
	display: none;
}
.show-view-more .cat-sub-readall {
	display: block;
}
.cat-sub-count {}
.cat-sub-count span {
	display: none;
}
.cat-sub-count:before, .cat-sub-count:after {}
.cat-sub-count:before {
	content: "(";
}
.cat-sub-count:after {
	content: ")";
}
/* */
.cat-sub-widget .echbay-widget-title {}
.cat-sub-widget .echbay-widget-title:before {}
.cat-sub-widget .echbay-widget-title a {}
.cat-sub-widget .echbay-widget-blogs-desc {}
.cat-sub-widget ul {
	margin: 0 -10px;
}
.cat-sub-widget li {
	float: left;
	margin: 0 !important;
}
.cat-sub-widget .echbay-blog-padding {}
.cat-sub-widget .echbay-blog-avt {}
.cat-sub-widget .echbay-blog-padding:hover .echbay-blog-avt {}
.cat-sub-widget .echbay-blog-marginleft {}
.cat-sub-widget .echbay-blog-left {}
.cat-sub-widget .echbay-blog-right {}
.cat-sub-widget .echbay-blog-title {}
.cat-sub-widget .echbay-blog-title a {}
.cat-sub-widget .echbay-blog-gioithieu {}
.cat-sub-widget .echbay-blog-infos {
	display: none;
}
.cat-sub-widget .echbay-blog-ngay {}
.cat-sub-widget .echbay-blog-cat {}
.cat-sub-widget .widget-blog-more {}
.cat-sub-widget .widget-blog-more a {}
.cat-sub-widget .widget-blog-more a span {}